html, body
{
	height:100%;
}
#header
{
	height:100%;
	text-align:center;
	padding-top:20%;
}

#quizWrapper
{
	height:75%;
	margin:5% 5% 0% 5%;
	padding-bottom: 5%;
}

#footer
{
	font-size:12px;
	padding: 0% 5% 8% 5%;
}